<br>
<center>
<div class="hazel">
		<center><img src="C:\Users\Joel\Documents\resume\image\hazel.png", alt=Avatar style = width:200px></center> 
	<div style="background-color: #b5dcb3;"><h1>Hazel Joy B. Arnado</h1></div>
	<font size="+1">Address: Block 10 Lot 1 Anita HOA phase 1 San Miguel Indangan Davao City</font><br/>
	<font size="+1">Contact no. 09325800816</font><br/>
	<font size="+1">Email: hazeljoyarnado29@gmail.com</font><br/>
	<h1>Objective:</h1>
	<font size="+1">Challenge myself, where I will be able to improve my organizational skills,
	educational background, and ability to work with people, as well as, to develop my working ability.</p></p>
	</font><br/>
</div>