<div class="hazel">
		<div style="background-color: #b5dcb3;"><h1>PERSONAL INFORMATION</h1></div>
		<font size="+1">Birthday: Noveber 29, 1998</font><br/>
		<font size="+1">Religion: Catholic</font><br/>
		<font size="+1">Nationality: Filipino</font><br/>
		<font size="+1">Civil Status: Single</font><br/>
</div>