<div class="familyBackground">
	<div style="background-color: #b5dcb3;"><h1>FAMILY BACKGROUND</h1></div>
	<font size="+1">Father: Alber B. Arnado</font><br/>
	<font size="+1">Occupation: Asst.Det.Commander</font><br/>
	<font size="+1">Mother: Jovelyn B. Arnado</font><br/>