<div class="academicBackground">
		<div style="background-color: #b5dcb3;"><h1>ACADEMIC BACKGROUND</h1></div>
		<font size="+2">College: University Of Southeastern Philippines</font><br/>
		<font size="+1">3nd Yr. level of Bachelor of Science in Information Technology</font><br/>
		<font size="+1">Inigo St., Obrero, Davao City</font><br/>