<font size="+1">Address: Block 10 Lot 1 Anita HOA phase 1 San Miguel Indangan Davao City</font><br/>
	<font size="+1">Contact no. 09325800816</font><br/>
	<font size="+1">Email: hazeljoyarnado29@gmail.com</font><br/>