<h1>Objective:</h1>
	<font size="+1">Challenge myself, where I will be able to improve my organizational skills,
	educational background, and ability to work with people, as well as, to develop my working ability.</p></p>
	</font><br/>
</div>